.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0 25px 0;
}

.header-logo img {
  cursor: pointer;
}

.header-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--greencolor);
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 580px;
  width: 100%;
  margin-right: 80px;
}

.header-input {
  border: none;
  width: 100%;
  padding: 15px 0 15px 25px;
  border-radius: 8px 0 0 8px;
  border-right: 1.5px solid rgba(227, 227, 227, 0.78);
  margin-right: 20px;
  outline: none;
}

.header-category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  width: 20%;
}

.header-dropdown {
  font-size: 14px;
  line-height: 17px;
  color: var(--blackcolor);
  font-family: "RubikRegular";
  margin-bottom: 0 !important;
}

.categoryDown {
  font-size: 10px;
  margin-left: 13px;
  color: var(--blackcolor);
  transition: 0.5s;
}

.categoryDown.active {
  transform: rotateX(180deg);
}

.header-btn {
  background: var(--greencolor);
  height: 100%;
  padding: 15px 20px;
  cursor: pointer;
}

.search__icon {
  font-size: 16px;
  color: var(--whitecolor);
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120px;
  width: 100%;
}

.header-menu i {
  cursor: pointer;
}

.header-shoppingBag,
.header-notification,
.header-user {
  font-size: 24px;
  color: var(--blackcolor);
  position: relative;
}

.header-shoppingBag span {
  position: absolute;
  font-size: 7px;
  line-height: 8px;
  font-family: "RubikRegular";
  color: var(--whitecolor);
  background: var(--greencolor);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 7px;
  right: -13px;
}

.header-category-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 9%;
}

.header-category-list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f7f8fa;
  z-index: 1;
  opacity: 1;
}

.header-category-list.active::before {
  display: none;
}

.header-category-list.active {
  top: 133px;
  opacity: 1;
  z-index: 2;
  background-color: #f7f8fa;
}

.header-category-list.inactive {
  top: 0;
  opacity: 0;
  z-index: -1;
}

.header-category-list li {
  margin-top: 15px;
  font-family: 'RubikRegular';
  font-size: 14px;
  transition: 0.3s;
}

.header-category-list li:not(:last-child) {
  border-bottom: 0.8px solid #e3e3e3;
  padding-bottom: 8px;
  width: 90%;
}

.header-category-list.inactive li {
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
}

.header-category-list a {
  color: var(--blackcolor);
  padding-left: 5px;
}